*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inria Sans", sans-serif;
  background-color: #199fbf; }

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  background-color: #c8cfd2; }
  .header__img {
    padding: 1rem 0;
    width: 8rem;
    height: 8rem; }
  .header h1 {
    font-size: 4rem; }
  .header__nav {
    margin-left: auto;
    width: auto; }
    .header__nav ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      list-style: none; }
      .header__nav ul li {
        margin-left: 1rem;
        font-size: 1.9rem;
        font-family: "Inria Sans", sans-serif;
        color: black;
        text-transform: uppercase; }
        .header__nav ul li a {
          text-decoration: none;
          color: black; }
          .header__nav ul li a:hover {
            text-decoration: underline black 0.2rem solid; }
          .header__nav ul li a:visited {
            color: inherit; }

.formulario {
  margin: 0 auto;
  width: 85%;
  height: auto;
  padding: 2rem; }
  .formulario__titulo {
    font-size: 2.5rem;
    text-align: center; }
  .formulario__contenido {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .formulario__contenido h5 {
    font-size: 1.5rem;
    padding: 1rem; }
  .formulario__contenido input {
    height: 4rem;
    min-width: 20rem;
    border: solid black 0.2rem;
    border-radius: 1rem;
    text-align: center;
    outline: none; }
  .formulario__contenido-submit {
    margin: 0 auto;
    min-width: 2rem;
    max-width: 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }

#consultar:hover {
  background-color: gray; }

.beneficios {
  padding-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .beneficios__items {
    display: block;
    align-items: center;
    max-width: 100rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem; }
  .beneficios__items img {
    padding: 2rem;
    height: 14rem; }

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem; }
  .video h3 {
    padding-top: 6rem;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline; }
  .video iframe {
    display: block;
    margin: 0 auto;
    border-radius: 1rem; }

.line {
  display: block;
  height: 0.6rem;
  width: 100%;
  max-width: 100rem;
  background-color: #c8cfd2;
  border: none;
  margin: 0 auto;
  margin-top: 2rem; }

.plans {
  width: 100%;
  margin: 4rem auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly; }
  .plans__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 18rem;
    max-width: 23rem;
    height: 30rem;
    padding: 1.5rem 3rem;
    line-height: 2rem;
    background-color: #c8cfd2;
    color: black;
    font-weight: bold;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.4s; }
    .plans__text:hover {
      transform: scaleY(1.05) scaleX(1.1); }
  .plans h5 {
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 0.5rem;
    text-align: center; }
  .plans ul {
    list-style: none;
    padding-left: 0.5rem;
    font-size: 1.5rem; }
  .plans h3 {
    font-size: 3rem;
    color: chocolate;
    text-align: center;
    margin-bottom: 0.5rem; }
  .plans p {
    font-size: 1.6rem;
    text-align: justify;
    color: black;
    font-weight: bold;
    text-align: center; }

.footer {
  height: auto;
  background-color: #aa4432;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center; }
  .footer p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5rem; }
  .footer ul {
    padding-right: 5rem;
    list-style: none;
    display: flex; }
  .footer img {
    width: 3rem;
    height: 3rem;
    margin: 1rem; }
