$fuente-principal: "Inria Sans", sans-serif;
$titulos: 2.5rem;
$subtitulos: 1.5rem;
$parrafos: 0.8rem;
$color-principal: #199fbf;
$color-texto: #c8cfd2;
$color-contraste: black;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: $fuente-principal;
  background-color: $color-principal;
}
