.header {
    width: 100%;
    display: flex;
    
    text-align: center;
    background-color: $color-texto;
    align-items: center;
    position: fixed;


    &__img {
        width: 10rem;
        height: 10rem;
        padding-left: 1.5rem ;
    }

    & h1 {
        font-size: 6rem;
    }

    &__nav ul {
        margin-left: 39rem;
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        
     
    }


    
    &__nav-link:hover {

        text-decoration: underline $color-contraste 0.2rem solid;
    }

}

.nav-link {
    font-size: 1.9rem;
    font-family: $fuente-principal;
    color: $color-contraste;
    text-transform: uppercase;
   
    margin: 1.5rem;

    
}