.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vh;

  text-align: center;
  background-color: $color-texto;

  &__img {
    width: 10rem;
    height: 10rem;
  }

  & h1 {
    font-size: 6rem;
  }

  &__nav ul {
    // margin-left: 39rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__nav-link:hover {
    text-decoration: underline $color-contraste 0.2rem solid;
  }
}

.nav-link {
  font-size: 1.9rem;
  font-family: $fuente-principal;
  color: $color-contraste;
  text-transform: uppercase;

  margin: 1.5rem;
}
