.plans {
  width: 100%;
  margin: 4rem auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 18rem;
    max-width: 23rem;
    height: 30rem;
    padding: 1.5rem 3rem;
    line-height: 2rem;
    background-color: $color-texto;
    color: $color-contraste;
    font-weight: bold;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.2);

    transition: all 0.4s;

    &:hover {
      transform: scaleY(1.05) scaleX(1.1);
    }
  }

  & h5 {
    font-size: $titulos;
    font-weight: 800;
    padding-top: 0.5rem;
    text-align: center;
  }

  & ul {
    list-style: none;
    padding-left: 0.5rem;
    font-size: $subtitulos;
  }

  & h3 {
    font-size: 3rem;
    color: chocolate;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  & p {
    font-size: 1.6rem;
    text-align: justify;
    color: $color-contraste;
    font-weight: bold;
    text-align: center;
  }
}
