
$fuente-principal: font-family: 'Inria Sans', sans-serif;

* {


    margin: 15px;
    padding: 0;
    box-sizing: border-box;

  }
  
  html {

    font-size: 62.5%;

  }
body {

    min-height: 100vh;
    
}